.content {
  margin: 0 auto;
  max-width: 640px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 40px;
}

.nutritional_values {
  display: flex;
  justify-content: center;
  gap: 40px;
  list-style-type: none;
  padding: 0;
  margin: 32px 0 0 0;
  color: #8585ad;
}

.nutritional_value {
  display: flex;
  flex-direction: column;
  align-items: center;
}
